/* Fundo geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../style/fundo\ cinza.png);
}

/* Título principal */
.top-header {
    text-align: center;
    padding: 25px 0;
    background: none;
}

.top-header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

/* Container central */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* Card estilo da imagem */
.card {
    background: white;
    padding: 25px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

/* Títulos */
.titulo-card {
    font-size: 20px;
    margin-bottom: 20px;
}

.titulo-tabela {
    margin-top: 35px;
    font-size: 18px;
}

/* Formulário */
.form-escalas {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-escalas select, 
.form-escalas input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #c9c9c9;
    font-size: 14px;
}

/* Botão igual ao da imagem */
.btn {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    width: 200px;
}

.btn:hover {
    background: #1d63d4;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th {
    background: #f0f0f0;
    padding: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background: #f7f7f7;
}

.btn-voltar {
    position: fixed;
    left: 20px;
    bottom: 30px;
    background: #3b82f6;
    color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    transition: 0.2s;
}

.btn-voltar:hover {
    background: #1d63d4;
}


/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #444;
}
