/* fim do css da tela de folha de pagamento */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 35%;
    background-color: dodgerblue;
    color: white;
    padding: 20px;
}

header .logo {
    height: auto;
    max-height: 100px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(50, 130, 210);;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

footer {
    margin-top: 1000px ;
    text-align: center;
    padding: 30px;
    background-color: dodgerblue;
}

.folha-pagamento {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding-left: 50px;
}

.folha-pagamento form label {
    display: block;
    margin-top: 10px;
}

.folha-pagamento form input, 
.folha-pagamento form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.folha-pagamento form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.folha-pagamento form button:hover {
    background-color: dodgerblue;
}

.folha-pagamento table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.folha-pagamento table, 
.folha-pagamento th, 
.folha-pagamento td {
    border: 1px solid #ccc;
}

.folha-pagamento th, 
.folha-pagamento td {
    padding: 10px;
    text-align: left;
}

/* fim do css da tela de folha de pagamento*/
