/* inicio do css da tela de folha de pagamento */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image: url(../style/fundo\ cinza.png);
    align-items: center; 
    text-align: center;
    width: center;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 35%;
    background-image: url(../style/fundo\ cinza.png);
    color: white;
    padding: 20px;
}
header h1 {
    background: #ffffff42;
    width: 450px;
    padding: 2.5em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    animation: fadeIn 0.4s ease;
    margin-top: 20px;
}

header .logo {
    height: auto;
    max-height: 100px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    align-items: center;
    text-align: center;
    width: center;
    left: 500px;
    position: absolute;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(50, 130, 210);;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

footer {
    margin-top: 800px;
    text-align: center;
    padding: 30px;
     background-image: url(../style/fundo\ cinza.png);
}

.folha-pagamento {
    left: 30px;
    background-color: #ffffff42;
    padding: 2.5em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    position: relative;
}


.folha-pagamento form label {
    display: block;
    margin-top: 10px;
}

.folha-pagamento form input, 
.folha-pagamento form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.folha-pagamento form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.folha-pagamento form button:hover {
    background-color: dodgerblue;
}

.folha-pagamento table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.folha-pagamento table, 
.folha-pagamento th, 
.folha-pagamento td {
    border: 1px solid #ccc;
}

.folha-pagamento th, 
.folha-pagamento td {
    padding: 10px;
    text-align: left;
}
 .voltar {
      position: fixed;
      bottom: 20px;
      left: 20px;
      padding: 10px 20px;
      background-color: dodgerblue;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

/* fim do css da tela de folha de pagamento*/
