:root {
    --primary-color: #3b82f6;
    --text-color: #232425;
}

body {
    background-image: url(../style/fundo\ cinza.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: var(--text-color);
}

.container {
    max-width: 1100px;
    width: 90%;
    margin: 20px auto;
}

header {
    background: #f9fafa80;
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.card {
    background: #ffffffc0;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    margin-top: 20px;
}

.row {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.15);
    background: rgba(255,255,255,0.7);
    margin-top: 5px;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

.btn:hover {
    filter: brightness(0.9);
}

.download-btn {
    background-color: dodgerblue;
}

.email-btn {
    background-color: dodgerblue;
}

.secondary {
    background-color: #555;
}

.resumo-animado {
    background-color: #e3f2fd;
    padding: 0 20px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 8px;
    transition: all .4s ease-in-out;
}

.resumo-animado.show {
    opacity: 1;
    height: auto;
    padding: 20px;
}
.voltar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    }

footer {
    margin-top: 25px;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: black;
}
