body {
  background-image: url(../style/fundo\ cinza.png);
  font-family: Arial, sans-serif;
  margin: 0;
 
}

 .voltar {
      position: fixed;
      bottom: 20px;
      left: 20px;
      padding: 10px 20px;
      background-color: dodgerblue;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background: #f9fafa59;
  color: black;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  background: rgba(255, 255, 255, 0.377);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.btn {
  background: #0077b6;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.3s;
}

.btn:hover {
  background: #005f8a;
}

footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #555;
}
.painel {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  padding: 2rem;
  margin-top: 2rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.painel h2 {
  text-align: center;
  color: #0077b6;
  margin-bottom: 1.5rem;
}