/* inicio do css da tela de quem somos */

 body {
        margin: 0;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: white
    }


    header {
        background: rgb(0, 95, 150);
        color: white;
        padding: 20px;
        text-align: center;
    }

    header h1 {
        color: black;
        margin: 0;
        font-size: 2em;
    }

    header p {
        margin: 5px;
        font-size: 1em;
        color: black;
    }

    .container {
        max-width: 800px;
        margin: auto;
        padding: 40px 20px;
        text-align: center;
    }

    .container h2 {
        color: black;
        margin-bottom: 20px;
    }

    .buttons {
        margin-top: 30px;
    }

    .buttons a {
        text-decoration: none;
        display: inline-block;
        margin: 10px;
        padding: 12px 25px;
        border-radius: 5px;
        font-weight: bold;
        background: rgb(0, 95, 150);
        color: white;
        transition: 0.3s ease;
    }

    .buttons a:hover {
        background: black;
    }

    footer {
        background: rgb(0, 95, 150);
        color: black;
        padding: 15px;
        text-align: center;
        margin-top: 40px;
    }
    
/* fim do css da tela de quem somos*/